.central-stretchable-space{
    flex: 1 1 auto;
}

.action{
    margin: 1px 5px 1px 5px;
}

.menu { 
    margin: 0px 10px 0px 5px;
    font-size: 20pt;
}

.icon-padding{
    padding-top: 10px;
}

mat-icon{
    cursor: default;
}


.toggle-span{
    padding-left: 10px;
    width: 100px;
    font-size: 9pt;
}