<form #superheroForm="ngForm" [formGroup]="superheroFormGroup" (submit)="submitHanlder()">

  <div>
      <mat-checkbox checked=”true” (change)="onToggleCheckboxChange($event)" labelPosition="before" disableRipple="true">
          Add a cape to the hero?
      </mat-checkbox>  
      <!-- <mat-slide-toggle checked=”true” (change)="onToggleChange($event)" labelPosition="before" disableRipple="true">
          Add a cape to the hero?
      </mat-slide-toggle>         -->
  </div>
  <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
      <mat-label>Superhero Name</mat-label>
      <input type="text" name="name" formControlName="name" matInput placeholder="A name to be remembered" />
      <mat-hint>Enter name</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <div>
      Rate Superhero
    </div>
    <div>
      <strong>{{minRating}}</strong>
      <!-- <mat-slider formControlName="rating" [max]="maxRating" [min]="minRating" step="1" ></mat-slider> -->
      <mat-slider thumbLabel (input)="onSliderChange($event)" [value]="rating" [max]="maxRating" [min]="minRating" step="1" ></mat-slider>

      <strong>{{maxRating}}</strong>
    </div>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" name="email" formControlName="email" matInput />
      <mat-icon *ngIf="email.valid" matSuffix >check_circle</mat-icon>
      <mat-hint>How do I contact the superhero for help?</mat-hint>
    </mat-form-field>
    
    <div *ngIf="email.errors && email.errors.required" >
      *Email is a required field
    </div>

    <div *ngIf="email.errors && email.errors.email" >
      *Invalid email. Use YourEMail@DomainName.com
    </div>

  </div>

  <div>
    <mat-form-field>      
      <mat-label>Schedule an appointment with Superhero</mat-label>
      <input [min]="dobMinDate" formControlName="dob" [matDatepickerFilter]="filterWeekends" matInput [matDatepicker]="dateOfBirth" />
      <!-- <input [min]="dobMinDate" [matDatepickerFilter]="dateFilter" [max]="dobMaxDate" matInput [matDatepicker]="dateOfBirth" /> -->
      <!-- <input  matInput formControlName="dob"  [matDatepicker]="dateOfBirth" /> -->
      <mat-datepicker-toggle matSuffix [for]="dateOfBirth">      </mat-datepicker-toggle>
      <mat-datepicker #dateOfBirth ></mat-datepicker>
    </mat-form-field>  
  </div>


  <div>
    <mat-form-field appearance="outline">
      <mat-label>Powers</mat-label>
      <textarea name="details" formControlName="details" cdkTextareaAutosize matInput></textarea>
      <mat-hint>Explain superhero powers</mat-hint>
    </mat-form-field>
  </div>

  <div>

    <div>
      <strong>Select Superhero's jurisdiction</strong>
    </div>
    <div formArrayName="jurisdiction" *ngFor="let city of superheroFormGroup.controls.jurisdiction.controls; let i=index;" >
      <mat-checkbox [formControlName]="i" checked="false">
          {{cities[i].name}}
      </mat-checkbox>
    </div>

    <!-- <div formArrayName="jurisdiction" *ngFor="let city of superheroFormGroup.controls.jurisdiction.controls; let i=index;" >
        <mat-slide-toggle [formControlName]="i" >
          {{cities[i].name}}
        </mat-slide-toggle>
      </div> -->
    <!-- Appearance: Outline -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" placeholder="select country">
        <mat-option>None</mat-option>
        <mat-optgroup label="Earth">
          <mat-option value="in">India</mat-option>
          <mat-option value="us">United States</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Outer Space">
          <mat-option value="os">Asgard</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> -->
    <!-- <strong>Superhero comes from " {{country}} "</strong> -->

  </div>

  <div>
    <!-- Appearance: Outline -->
    <mat-form-field appearance="outline">
      <mat-label>Special Powers</mat-label>
      <mat-select name="powers" formControlName="powers" multiple>
        <mat-option>None</mat-option>
        <mat-option value="fly">fly</mat-option>
        <mat-option value="hammer">wield hammer</mat-option>
        <mat-option value="power">grow powerful</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <strong> My superhero can " {{powers}} "</strong> -->
  </div>

  <div class="pull-right">
    <button mat-stroked-button> Cancel </button>
    <button mat-stroked-button type="submit" [disabled]="!superheroForm.valid"> Save </button>
  </div>

</form>