<mat-card>
  <mat-card-header>
    <mat-card-title>
      Create a new superhero
    </mat-card-title>
    <mat-card-subtitle>
      A new superhero is born in the system
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <form #superheroForm="ngForm">
      <!-- <strong>
        Form Status, Valid- {{superheroForm.valid}}. Pristine- {{superheroForm.pristine}}. Touched-
        {{superheroForm.touched}}
      </strong> -->
      <div>
        <!-- Appearance: Outline -->
        <mat-form-field appearance="outline">
          <mat-label>Superhero Name</mat-label>
          <input #spy="ngModel" type="text" name="name" [(ngModel)]="superhero.name" matInput required
            placeholder="A name to be remembered" />
          <mat-hint>Enter name</mat-hint>
        </mat-form-field>
        <!-- <div>
          {{spy.valid}}
        </div> -->
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input #email="ngModel" type="text" name="email" email [(ngModel)]="superhero.email" matInput />
          <mat-hint>How do I contact the superhero for help?</mat-hint>
        </mat-form-field>

        <div class="error-message" *ngIf="!email.valid && email.touched">
          Please enter a valid email address.

        </div>

      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Powers</mat-label>
          <textarea name="details" [(ngModel)]="superhero.details" minlength="4" maxlength="10" cdkTextareaAutosize
            cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10" rows="6" matInput></textarea>
          <mat-hint>Explain superhero powers</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <!-- Appearance: Outline -->
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select placeholder="select country" [(value)]="superhero.country">
            <mat-option>None</mat-option>
            <mat-optgroup label="Earth">
              <mat-option value="in">India</mat-option>
              <mat-option value="us">United States</mat-option>
            </mat-optgroup>
            <mat-optgroup label="Outer Space">
              <mat-option value="os">Asgard</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <!-- <strong>Superhero comes from " {{country}} "</strong> -->
      </div>

      <div>
        <!-- Appearance: Outline -->
        <mat-form-field appearance="outline">
          <mat-label>Special Powers</mat-label>
          <mat-select required name="powers" [(value)]="powers" [(ngModel)]="superhero.specialPowers" multiple>
            <mat-option>None</mat-option>
            <mat-option value="fly">fly</mat-option>
            <mat-option value="hammer">wield hammer</mat-option>
            <mat-option value="power">grow powerful</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <strong> My superhero can " {{powers}} "</strong> -->
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Likes to eat</mat-label>

          <mat-chip-list name="favFood" #favFood [(ngModel)]="superhero.favFood">
            <mat-chip *ngFor="let item of superhero.favFood" removable="true" (removed)="removeHandler(item)">
              {{item}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>

          <input [matChipInputFor]="favFood" (matChipInputTokenEnd)="add($event)" matChipInputAddOnBlur />

        </mat-form-field>

      </div>

      <!-- <strong>
        {{model}}
      </strong> -->
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-stroked-button (click)="cancelCreate()"> Cancel </button>
    <button mat-stroked-button [disabled]="!superheroForm.valid" (click)="submitForm()"> Save </button>
  </mat-card-actions>
  <mat-card-footer>
    * All superheroes can fly
  </mat-card-footer>
</mat-card>