<!-- 
<mat-nav-list>
    <mat-list-item *ngFor="let hero of heroes" >        
        <img [src]="hero.cardImage" matListAvatar alt="">
        <a mat-list-item [routerLink]="['/hero/' + hero.name]" >
            {{hero.name}}
        </a>            
    </mat-list-item>
  </mat-nav-list>
 -->

<!-- <mat-action-list>
        <mat-list-item *ngFor="let hero of heroes" >        
            <img [src]="hero.cardImage" matListAvatar alt="">
            <a mat-list-item  (click)="listItemSelected(hero)">
                {{hero.name}}
            </a>            
        </mat-list-item>
        
      </mat-action-list>
       -->
<mat-selection-list #selected (selectionChange)="selectionChangeHandler($event)">
    <mat-list-option *ngFor="let hero of heroes" [value]="hero.name" >
        <img [src]="hero.cardImage" matListAvatar alt="">
        <a mat-list-item (click)="listItemSelected(hero)">
            {{hero.name}}
        </a>
    </mat-list-option>
</mat-selection-list>

