<mat-nav-list>
    <mat-list-item  >        
        <mat-icon>share</mat-icon>
        <strong >Share</strong>        
    </mat-list-item>
    <mat-list-item  >        
        <mat-icon>print</mat-icon>
        <strong >Print</strong>        
    </mat-list-item>
    <mat-list-item  >        
        <mat-icon>message</mat-icon>
        <strong >Send a message</strong>        
    </mat-list-item>
    <mat-list-item  >        
        <mat-icon>delete</mat-icon>
        <strong >Delete</strong>        
    </mat-list-item>
  </mat-nav-list>